<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfOFGSRihwuewWe6lpyfJYG7H3oJmaVi8</string>
	<key>GCM_SENDER_ID</key>
	<string>266760600532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quiltflow.app</string>
	<key>PROJECT_ID</key>
	<string>quilt-flow</string>
	<key>STORAGE_BUCKET</key>
	<string>quilt-flow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266760600532:ios:c8aa790e59b6c77af77441</string>
</dict>
</plist>